<!DOCTYPE html>
<html lang="en" class="has-background-link">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Paul Watson - Professional remote web-developer</title>
  <meta name="description"
    content="The website of Paul Watson, a professional remote web-developer in Cape Town, South Africa.">
  <script type="module" src="//backspace.eco/b.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered is-gapless">
        <div class="column is-half">
          <div class="card">
            <div class="card-content is-size-5 is-size-6-mobile">
              <h1 class="title is-size-4-mobile">
                Sawubona, molo, hello, dia dhuit
              </h1>
              <p class="content">My name is Paul Watson and I have been a professional web-developer since <abbr
                  title="That is more than 23 years ago!">1997</abbr>. I work <abbr
                  title="Fully remote working">remotely</abbr> from Cape Town, South Africa.</p>
              <p class="content">My main skills and experience are in technical leadership, <abbr title="HTML5">HTML</abbr>, <abbr
                  title="SASS, SCSS">CSS</abbr>, <abbr
                  title="ECMAScript ES 5/6/2015, jQuery, or Stimulus">JavaScript</abbr>, <abbr
                  title="An open source object-relational database system">PostgreSQL</abbr>, and Ruby on Rails. I am
                also capable in <abbr title="Flask, Connexion">Python</abbr> and <abbr
                  title="Tensorflow and PyTorch">Machine
                  Learning</abbr>.</p>
              <p class="content">Currently I am the <abbr title="Chief Technical Officer">CTO</abbr> of <a
                  href="https://caliberai.net" rel="noopener">CaliberAI</a> and <a
                  href="https://openup.org.za" rel="noopener">OpenUp</a>. I have worked with <a
                  href="https://kinzen.com" rel="noopener">Kinzen</a> (CTO &amp; co-founder), <a
                  href="https://storyful.com" rel="noopener">Storyful</a> (CTO, acquired by News Corp), <a
                  href="https://www.redhat.com/en/about/press-releases/red-hat-acquire-feedhenry-adds-enterprise-mobile-application-platform"
                  rel="noopener">FeedHenry</a> (co-founder, acquired by Red Hat), and <a href="https://changex.org"
                  rel="noopener">ChangeX</a>.</p>
              <p class="content">Now that you know a bit about me, <a href="mailto:hello@paulmwatson.com"
                  title="Email hello@paulmwatson.com">say
                  hello</a>.</p>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" href="https://tilde.zone/@paulmwatson" rel="noopener" title="Mastodon">
                Mastodon
              </a>
              <a class="card-footer-item" href="https://github.com/paulmwatson" rel="noopener" title="GitHub">
                GitHub
              </a>
              <a class="card-footer-item" href="https://www.linkedin.com/in/paulmwatson" rel="noopener"
                title="LinkedIn">
                LinkedIn
              </a>
            </footer>
            <div class="card-image">
              <a href="https://www.instagram.com/p/CE2UJ1AD-8-/" rel="noopener" title="Photos on Instagram">
                <picture class="image">
                  <img width="672" height="672" sizes="(max-width: 1680px) 40vw, 672px"
                    srcset="/images/photo-flowers-1-397w.webp 397w,/images/photo-flowers-1-583w.webp 583w,/images/photo-flowers-1-672w.webp 672w"
                    src="/images/photo-flowers-1-672w.webp" alt="Photo of flowers">
                </picture>
              </a>
            </div>
          </div>
          <blockquote class="mt-6 has-text-centered is-size-7 has-text-white">
            <p>This is the end, beautiful friend<br>
              This is the end, my only friend<br>
              The end<br>
              It hurts to set you free</p>
            <footer>
              ~ <cite>
                <a href="https://genius.com/The-doors-the-end-lyrics" rel="noopener" class="has-text-white">
                  The End - The Doors
                </a>
              </cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <%= process.env.NODE_ENV == 'production' ? '<script src="index.js"></script>' : false%>
</body>

</html>